@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
:root{
    --dark-mode-bg: #20202a;
    --dark-mode-profile:#23232f;
    --title-color:#7f7f82;
    --principal-title:#fafafc;
    --font-size:clamp(.60em,8vw,.70em);
    --color-bar:#ffc107;
}
body{
    background-color: #23232f;
}

.main-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0px 2px 8px 5px #2b2b365d;
    padding: 10px 20px;
    background-color: var(--dark-mode-bg);
  }
  .main-header .menu-profile{
    position: relative;
    z-index: 45;
  }
  .main-header .menu-profile a{
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
  }
  .main-header .menu-profile a span{
    display: block;
    width: 4px;
    height: 4px;
    background-color: aliceblue;
    border-radius: 100%;
    cursor: pointer;
  }
  .main-header .main-logo{
    max-width: 20px;
  }
  .main-header .main-logo a img{
    width: 100%;
  }
  .main-header .profile-aside {
    position: fixed;
    left: 0;
    background-color: var(--dark-mode-bg);
    height: 100%;
    opacity: 0.5;
    top: 0;
    width: 60%;
    transform: translateX(-160%);
    transition: all .5s ease-in-out;
  }
  .main-header .profile-aside.active{
    transform: translateX(0);
    opacity: 1;
  }
  
.main-header .profile-aside .container-aside{
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .main-header .profile-aside .container-aside .profile-header{
    text-align: center;
    background-color: var(--dark-mode-profile);
    box-shadow: 0px 2px 3px 0px #1111135d;
  }
  .main-header .profile-aside .container-aside .profile-header .profile-img{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80px;
    height: 80px;
    margin: 20px auto auto;
    background-color: rgb(48, 48, 48);
    padding: 20px;
    border-radius: 100%;
    border: 1px solid white;
  }
  .main-header .profile-aside .container-aside .profile-header img{
    width: 100%;
  
  }
  .main-header .profile-aside .container-aside .profile-header .profile-titles{
    width: 100%;
  
  }
  .main-header .profile-aside .container-aside .profile-header .profile-titles h2{
    color: var(--principal-title);
    font-size: clamp(.82em,6vw,1.2em);
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .main-header .profile-aside .container-aside .profile-header .profile-titles h3{
    color: var(--title-color);
    font-size:var(--font-size);
    margin-top: .40em;
    text-transform: capitalize;
    font-weight: 500;
  }
  .main-header .profile-aside .container-aside .profile-header .profile-titles h4{
    color: var(--title-color);
    font-size: var(--font-size);
    margin-top: .40em;
    text-transform: capitalize;
    font-weight: 500;
  }
  .main-header .profile-aside .container-aside .profile-header .profile-social-midias .social-profiles{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
    margin: 10px 0;
  }
  .main-header .profile-aside .container-aside .profile-header .profile-social-midias .social-profiles li a img{
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  .main-header .profile-aside .container-aside .profile-biografy{
    margin: 1.3em 20px;
  }
  .main-header .profile-aside .container-aside .profile-biografy .profile-information{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    }
    .main-header .profile-aside .container-aside .profile-biografy .profile-information .resinde{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .main-header .profile-aside .container-aside .profile-biografy .profile-information .city{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  .main-header .profile-aside .container-aside .profile-biografy .profile-information h2{
    font-size: clamp(.50em,8vw,.90em);
    color: var(--principal-title);
    text-transform: uppercase;
    font-weight: 500;
  }
  .main-header .profile-aside .container-aside .profile-biografy .profile-information p{
    font-size: clamp(.70em,8vw,.80em);
    color:#7f7f82;
    font-weight: 400;
  }

  .main-header .profile-aside .container-aside .profile-biografy .progresing-main{
    width: 100%;
  }
  .main-header .profile-aside .container-aside .profile-biografy .progresing-main .progressing{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main-header .profile-aside .container-aside .profile-biografy .progresing-main .progressing .bar{
    width: 100%;
    background-color: var(--dark-mode-profile);
    height: 4px;
    position: relative;
  }
  .main-header .profile-aside .container-aside .profile-biografy .progresing-main .progressing .bar::before{
    content: '';
    display: block;
    width: 90%;
    height: 4px;
    background-color: var(--color-bar);
  }
  .main-header .profile-aside .container-aside .profile-biografy .progresing-main .progressing .progressing-text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-header .profile-aside .container-aside .profile-biografy .download-cv-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .main-header .profile-aside .container-aside .profile-biografy .download-cv-main .download{
    padding: .80em 2.3em;
    flex: 1;
    border: 1px solid var(--color-bar);
    background-color: var(--color-bar);
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease-in-out;
  }
  .main-header .profile-aside .container-aside .profile-biografy .download-cv-main .download a{
    font-size: 1.2em;
    text-decoration: none;
    color: var(--dark-mode-bg);
    text-transform: uppercase;
    font-weight: 500;
    transition: all .3s ease-in-out;
  }
  .main-header .profile-aside .container-aside .profile-biografy .download-cv-main .download:hover{
    border: 1px solid var(--color-bar);
    background-color: transparent;
    cursor: pointer;
  }
  .main-header .profile-aside .container-aside .profile-biografy .download-cv-main .download:hover a{
    color: #fafafc;
  }






  .main-header .main-nav .hamburguer-active{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .main-header .main-nav .hamburguer-active span{
    width: 20px;
    height: 1.5px;
    display: block;
    background-color: aliceblue;
    font-weight: 800;
  }
.main-header .main-nav .main-itens{
    position: absolute;
    right:0;
    background-color: #23232f;
    height: 100vh;
    top: 0;
    opacity: 0;
}



.main-hero{
  width: 100%;
}
.main-hero .hero-container{
  background-color: #23232f;
  background: linear-gradient(45deg,#23232f8f,#23232f8f),url('../images/mulher-de-negocios-sobrecarregada-digitando-estatisticas-financeiras-no-laptop-sentado-a-mesa-no-escritorio-da-empresa-startup-tarde-da-noite.jpg');
  margin: 1.4em 1.2em;
  background-size: cover;
  padding: .90em 1.2em;
  display: flex;
  height: 70vh;
  border-radius: 4px;
}

.main-hero .hero-container .hero-text h2{
  color: #fafafc;
  font-size: 1.8em;
  background-color: #23232f94;
  padding: .40em .50em;
  font-weight: 800;
  text-align: center;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.main-hero .hero-container .hero-text h2 span{
  color: rgb(101, 194, 101);
  font-family: Arial, Helvetica, sans-serif;
}
.main-hero .hero-container .hero-text code p{
  color: rgb(243, 243, 243);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.2em;
}
.main-hero .hero-container .hero-text .main-button{
  margin-top: 1.8em;
}
.main-hero .hero-container .hero-text .main-button .btn-hero{
  padding: .80em 2.3em;
  text-align: left;
  border: none;
  background-color: rgb(55, 160, 86);
}
.main-hero .hero-container .hero-text .main-button .btn-hero a{
  font-size: 1.4em;
  text-decoration: none;
  color: #fafafc;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}