@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

:root {
  --dark-mode-bg: #eeeeee;
  --dark-mode-profile:#333333;
  --purple-bg:#917FB3;
  --btn-purple:#5C469C;
  --title-color:#7f7f82;
  --principal-title:#fafafc;
  --font-size:clamp(.60em,8vw,.70em);
  --color-bar:#ffc107;
}

body {
  background-color: var(--dark-mode-bg);
}

.main-header {
  top: 0;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 2px 8px 5px rgba(43, 43, 54, 0.3647058824);
  padding: 10px 20px;
  background-color: var(--dark-mode-bg);
  height: 10vh;
}

.main-header .menu-profile {
  position: relative;
  z-index: 45;
}

.main-header .menu-profile a {
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}

.main-header .menu-profile a span {
  display: block;
  width: 4px;
  height: 4px;
  background-color: var(--btn-purple);
  border-radius: 100%;
  cursor: pointer;
}

.main-header .main-logo {
  max-width: 150px;
  margin-top: 0.7em;
}

.main-header .main-logo a img {
  width: 100%;
}

.main-header .profile-aside {
  position: fixed;
  left: 0;
  background-color: var(--dark-mode-bg);
  height: 100%;
  opacity: 0.5;
  top: 0;
  width: 60%;
  transform: translateX(-160%);
  transition: all 0.5s ease-in-out;
  z-index: 40;
}

.main-header .profile-aside.active {
  transform: translateX(0);
  opacity: 1;
}

.main-header .profile-aside .container-aside {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.main-header .profile-aside .container-aside .profile-header {
  text-align: center;
  background-color: var(--purple-bg);
  box-shadow: 0px 2px 3px 0px rgba(17, 17, 19, 0.3647058824);
}

.main-header .profile-aside .container-aside .profile-header .profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80px;
  height: 80px;
  margin: 20px auto auto;
  background-color: rgb(48, 48, 48);
  padding: 20px;
  border-radius: 100%;
  border: 1px solid white;
}

.main-header .profile-aside .container-aside .profile-header img {
  width: 100%;
}

.main-header .profile-aside .container-aside .profile-header .profile-titles {
  width: 100%;
}

.main-header .profile-aside .container-aside .profile-header .profile-titles h2 {
  color: var(--principal-title);
  font-size: clamp(0.82em, 6vw, 1.2em);
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 2px;
}

.main-header .profile-aside .container-aside .profile-header .profile-titles h3 {
  color: var(--principal-title);
  font-size: var(--font-size);
  margin-top: 0.4em;
  text-transform: capitalize;
  font-weight: 500;
}

.main-header .profile-aside .container-aside .profile-header .profile-titles h4 {
  color: var(--principal-title);
  font-size: var(--font-size);
  margin-top: 0.4em;
  text-transform: capitalize;
  font-weight: 500;
}

.main-header .profile-aside .container-aside .profile-header .profile-social-midias .social-profiles {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 10px;
  margin: 10px 0;
}

.main-header .profile-aside .container-aside .profile-header .profile-social-midias .social-profiles li a img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-header .profile-aside .container-aside .profile-biografy {
  margin: 1.3em 20px;
}

.main-header .profile-aside .container-aside .profile-biografy .profile-information {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}

.main-header .profile-aside .container-aside .profile-biografy .profile-information .resinde {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .profile-aside .container-aside .profile-biografy .profile-information .city {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .profile-aside .container-aside .profile-biografy .profile-information h2 {
  font-size: clamp(0.5em, 8vw, 0.9em);
  color: var(--principal-title);
  text-transform: uppercase;
  font-weight: 500;
}

.main-header .profile-aside .container-aside .profile-biografy .profile-information p {
  font-size: clamp(0.7em, 8vw, 0.8em);
  color: #7f7f82;
  font-weight: 400;
}

.main-header .profile-aside .container-aside .profile-biografy .progresing-main {
  width: 100%;
}

.main-header .profile-aside .container-aside .profile-biografy .progresing-main .progressing {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-header .profile-aside .container-aside .profile-biografy .progresing-main .progressing .bar {
  width: 100%;
  background-color: var(--dark-mode-profile);
  height: 4px;
  position: relative;
}

.main-header .profile-aside .container-aside .profile-biografy .progresing-main .progressing .bar::before {
  content: "";
  display: block;
  width: 90%;
  height: 4px;
  background-color: var(--color-bar);
}

.main-header .profile-aside .container-aside .profile-biografy .progresing-main .progressing .progressing-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .profile-aside .container-aside .profile-biografy .download-cv-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.main-header .profile-aside .container-aside .profile-biografy .download-cv-main .download {
  padding: 0.8em 2.3em;
  flex: 1;
  border: 1px solid var(--color-bar);
  background-color: var(--color-bar);
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.main-header .profile-aside .container-aside .profile-biografy .download-cv-main .download a {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--dark-mode-bg);
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.main-header .profile-aside .container-aside .profile-biografy .download-cv-main .download:hover {
  border: 1px solid var(--color-bar);
  background-color: transparent;
  cursor: pointer;
}

.main-header .profile-aside .container-aside .profile-biografy .download-cv-main .download:hover a {
  color: #fafafc;
}

.main-header .main-nav .hamburguer-active {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.main-header .main-nav .hamburguer-active span {
  width: 20px;
  height: 1.5px;
  display: block;
  background-color: var(--btn-purple);
  font-weight: 800;
}

.main-header .main-nav .main-itens {
  position: absolute;
  background-color: var(--btn-purple);
  list-style: none;
  right: 0;
  height: 100vh;
  top: 10vh;
  opacity: 0;
  overflow: hidden;
  height: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.main-header .main-nav .main-itens.open {
  height: 90vh;
  overflow: auto;
  opacity: 1;
}

.main-header .main-nav .main-itens a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 1.3em;
}

.main-hero {
  width: 100%;
}

.main-hero .hero-container {
  background-color: var(--purple-bg);
  padding: 0.9em 1.2em;
  display: flex;
  margin-top: 1.4em;
  flex-direction: column;
}

.main-hero .hero-container {
  max-width: 650px;
  align-items: center;
  justify-content: center;
}

.main-hero .hero-container .img-container {
  max-width: 150px;
  margin-top: 4em;
}

.main-hero .hero-container .img-container img {
  width: 100%;
}

.main-hero .hero-container .tech-logo {
  max-width: 250px;
}

.main-hero .hero-container .tech-logo img {
  width: 100%;
}

.main-hero .hero-container .text-hero p {
  line-height: 2;
}

.main-hero .hero-container .text-hero p span {
  color: #442f81;
}/*# sourceMappingURL=style.css.map */